.MyMain4_list{
    display: flex;
    flex-wrap: wrap;
}

.MyMain4_list li{
    flex: 25%;
    height: 2.1875rem;
    padding: 0.46875rem 0;
    border-right: 0.015625rem solid #F2F2F2;
    border-bottom: 0.015625rem solid #F2F2F2;
}

.MyMain4_list li:nth-child(5){
    border-bottom: none;
}

.MyMain4_list li:nth-child(6){
    border-bottom: none;
}

.MyMain4_list li:nth-child(7){
    border-bottom: none;
}

.MyMain4_list li:nth-child(8){
    border-bottom: none;
}

.MyMain4_list li a,.MyMain4_list li a span{
    display: block;
    text-align: center;
    color: #666;
    font-size: 22px;
}

.MyMain4_list li a span:nth-child(1){
    line-height: 0.828125rem;
}

.MyMain4_list li a img{
    width: 0.65625rem;
    height: 0.65625rem;
    margin: 0 auto 0.171875rem;
}

.MyMain4_list1 {

}